#userlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--text-color);
    .user {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: .5rem 1rem;
        background-color: var(--navigation-item-bg);
        border-radius: 5px;

        transition: 0.2s;


        #info {
            display: flex;
            flex-direction: column;

            .user-name {
                font-weight: 500;
                font-size: 1.5em;
            }
        }
        #members {
            display: flex;
            align-items: center;
            gap: .5rem;

            .icon {
                font-size: 1.2rem;
            }

            .members-number {
                font-size: 1rem;
            }
        }

        &:hover {
            background-color: var(--theme-color);
            cursor: pointer;
        }
    }
}

#userlist-dropdown {
    .dropdown-menu {
        font-size: .8rem;
        width: 20rem;
        font-weight: 300;

        .card-header {
            font-weight: 400;
        }
    }
}