#today-consultations {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    max-height: 28rem;
    overflow: auto;
    padding: 0;

    list-style: none;

    .item {
        background-color: var(--card-item-bg);
        padding: 0.5rem;
        border-radius: 5px;
        box-shadow: var(--card-item-shadow);
        transition: 0.2s;

        &:hover {
            cursor: pointer;
            background-color: var(--card-item-hover-bg);
        }

        .data {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .image .icon {
            font-size: 1.9rem;
        }

        .data .title {
            font-size: 0.9rem;
            font-weight: 400;
        }

        .data .date {
            font-weight: 300;
            font-size: 0.7rem;
        }

        .values .icon {
            font-size: .9rem;
        }

        .values .value {
            font-size: 0.65rem;
            font-weight: 300;
        }
    }
}