<div class="modal" id="consultation-create-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lista Uczestników</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                asd
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-accept" data-bs-target="#consultation-members-modal" data-bs-toggle="modal">
                    <span class="icon iconify" data-icon="mdi:check"></span>
                    <span class="text">Zatwierdź</span>
                </button>
            </div>
        </div>
    </div>
</div>