<div class="modal" id="consultation-details-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Informacje o Konsultacji</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div id="informations">
                            <div class="title">
                                <span class="icon iconify" data-icon="mdi:info"></span>
                                <span class="value">Informacje:</span>
                            </div>
                            <div class="item">
                                <span class="icon iconify" data-icon="mdi:calendar"></span>
                                <span class="title">Data:</span>
                                <span class="value">12.05.2006r.</span>
                            </div>
                            <div class="item">
                                <span class="icon iconify" data-icon="mdi:clock"></span>
                                <span class="title">Godzina:</span>
                                <span class="value">12:15-13:20</span>
                            </div>
                            <div class="item">
                                <span class="icon iconify" data-icon="mdi:book"></span>
                                <span class="title">Przedmiot:</span>
                                <span class="value">J. Polski</span>
                            </div>
                            <div class="item">
                                <span class="icon iconify" data-icon="mdi:account"></span>
                                <span class="title">Nauczyciel:</span>
                                <span class="value">Jan Kowalski</span>
                            </div>
                            <div class="item">
                                <span class="icon iconify" data-icon="mdi:building"></span>
                                <span class="title">Budynek:</span>
                                <span class="value">J. Szanajcy 5</span>
                            </div> 
                            <div class="item">
                                <span class="icon iconify" data-icon="mdi:door"></span>
                                <span class="title">Sala:</span>
                                <span class="value">14</span>
                            </div>
                            <div class="item">
                                <span class="icon iconify" data-icon="mdi:chair-school"></span>
                                <span class="title">Liczba Miejsc:</span>
                                <span class="value">14/32</span>
                            </div> 
                            <div class="item">
                                <span class="icon iconify" data-icon="mdi:clock-end"></span>
                                <span class="title">Zapisy Do:</span>
                                <span class="value">29.05.2024r. 18:30</span>
                            </div> 
                        </div>
                    </div>
                    <div class="col">
                        <div class="row h-50">
                            <div class="col">
                                <div id="teacher-info">
                                    <div class="title">
                                        <span class="icon iconify" data-icon="mdi:exclamation-thick"></span>
                                        <span class="value">Informacje Od Nauczyciela:</span>
                                    </div>
                                    <div class="value">
                                        Poprawa sprawdzianów:
                                            Elo elo 420
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div id="material-range">
                                    <div class="title">
                                        <span class="icon iconify" data-icon="mdi:exclamation-thick"></span>
                                        <span class="value">Zakres spotkania:</span>
                                    </div>
                                    <ul id="material">
                                        <li class="item">
                                            <span class="value">Sprawdziany z działów 1,2,3</span>
                                        </li>
                                        <li class="item">
                                            <span class="value">Zaległe Kartkówki</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-accept" data-bs-target="#consultation-members-modal" data-bs-toggle="modal">
                    <span class="icon iconify" data-icon="mdi:person"></span>
                    <span class="text">Zapisani Uczestnicy</span>
                </button>
                <button type="button" class="btn btn-accept" data-bs-target="#consultation-checklist-modal" data-bs-toggle="modal">
                    <span class="icon iconify" data-icon="mdi:sign"></span>
                    <span class="text">Sprawdz liste obecnosci</span>
                </button>
            </div>
        </div>
    </div>
</div>