<div class="modal" id="consultation-checklist-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lista Uczestników</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul id="checklist">
                    <li class="item head mb-3">
                        <div class="name">
                            Imię i Nazwisko
                        </div>
                        <div class="check">
                            Obecny?
                        </div>
                    </li>
                    <li class="item">
                        <div class="name">
                            Tomasz Magiera - 3A
                        </div>
                        <div class="check">
                            <input type="checkbox">
                        </div>
                    </li>
                    <li class="item">
                        <div class="name">
                            Tomasz Magiera - 3A
                        </div>
                        <div class="check">
                            <input type="checkbox">
                        </div>
                    </li>
                    <li class="item">
                        <div class="name">
                            Tomasz Magiera - 3A
                        </div>
                        <div class="check">
                            <input type="checkbox">
                        </div>
                    </li>
                    <li class="item">
                        <div class="name">
                            Tomasz Magiera - 3A
                        </div>
                        <div class="check">
                            <input type="checkbox">
                        </div>
                    </li>
                    <li class="item">
                        <div class="name">
                            Tomasz Magiera - 3A
                        </div>
                        <div class="check">
                            <input type="checkbox">
                        </div>
                    </li>
                    <li class="item">
                        <div class="name">
                            Tomasz Magiera - 3A
                        </div>
                        <div class="check">
                            <input type="checkbox">
                        </div>
                    </li>
                    <li class="item">
                        <div class="name">
                            Tomasz Magiera - 3A
                        </div>
                        <div class="check">
                            <input type="checkbox">
                        </div>
                    </li>
                    <li class="item head mt-3">
                        <div class="name">
                            Obecnych:
                        </div>
                        <div class="check">
                            15
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-accept" data-bs-target="#consultation-members-modal" data-bs-toggle="modal">
                    <span class="icon iconify" data-icon="mdi:check"></span>
                    <span class="text">Zatwierdź</span>
                </button>
            </div>
        </div>
    </div>
</div>