<div id="topbar">
    <div id="adsad"></div>

    <div id="user">
        <div id="notifications" class="active">
            <div id="notification-dropdown" class="dropdown-center">
                <a id="notification" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="5, 40">
                    <span class="icon iconify" data-icon="mdi:bell"></span>
                </a>

                <ul class="dropdown-menu">
                    <div class="card">
                        <div class="card-header">
                            <span class="label">Twoje Powiadomienia</span>
                            <a class="btn link">Zobacz Więcej</a>
                        </div>
                        <div class="card-body">
                            <div id="notification-list">
                                <div class="item">
                                    <div class="image">
                                        <span class="icon iconify" data-icon="mdi:person"></span>
                                    </div>
                                    <div class="data">
                                        <div class="title">Przyszlo powiadomienie</div>
                                        <div class="date">12.05.2014r. 12:00</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <span class="icon iconify" data-icon="mdi:person"></span>
                                    </div>
                                    <div class="data">
                                        <div class="title">Przyszlo powiadomienie</div>
                                        <div class="date">12.05.2014r. 12:00</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <span class="icon iconify" data-icon="mdi:person"></span>
                                    </div>
                                    <div class="data">
                                        <div class="title">Przyszlo powiadomienie</div>
                                        <div class="date">12.05.2014r. 12:00</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <span class="icon iconify" data-icon="mdi:person"></span>
                                    </div>
                                    <div class="data">
                                        <div class="title">Przyszlo powiadomienie</div>
                                        <div class="date">12.05.2014r. 12:00</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <span class="icon iconify" data-icon="mdi:person"></span>
                                    </div>
                                    <div class="data">
                                        <div class="title">Przyszlo powiadomienie</div>
                                        <div class="date">12.05.2014r. 12:00</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <span class="icon iconify" data-icon="mdi:person"></span>
                                    </div>
                                    <div class="data">
                                        <div class="title">Przyszlo powiadomienie</div>
                                        <div class="date">12.05.2014r. 12:00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
            
        </div>

        <button data-theme-toggler="true" type="button" class="btn btn-sm">
            <span class="iconify" data-icon="mdi:weather-night" id="theme-icon"></span>
        </button>
        <div class="dropdown">
            <a id="user-data" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10, 35">
                <span id="image">
                    <img src="https://via.placeholder.com/64" class="img rounded-circle">
                </span>
                <span id="name" class="d-none d-lg-inline">Tomasz Magiera</span>
            </a>
            
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">
                    <span class="icon iconify" data-icon="mdi:shield-user"></span>
                    <span class="name">Panel Administratora</span>
                </a></li>
                <li class="divdiver"><hr/></li>
                <li><a class="dropdown-item" href="#">
                    <span class="icon iconify" data-icon="mdi:logout"></span>
                    <span class="name">Wyloguj się</span>
                </a></li>
            </ul>
        </div>
    </div>
</div>